# Copia este archivo como .env y reemplaza con la URL real del Apps Script
VITE_API_URL=https://script.google.com/macros/s/AKfycbyROz6RrPLj_e_BS3xYyZ68mrV0oyc6MSRYTUponAminUQtBzfL8NQXOorSg1vHeGk/exec
